@use 'tokens/variables' as v;

$gap-s: v.$size-layout-gap-s;
$gap-m: v.$size-layout-gap-m;
$gap-x: v.$size-layout-gap-x;
$gap-xl: v.$size-layout-gap-xl;
$gap-2xl: v.$size-layout-gap-2xl;
$gap-3xl: v.$size-layout-gap-3xl;
$gap-4xl: v.$size-layout-gap-4xl;
