@use 'tokens/variables' as v;

$gap-s: v.$size-layout-gap-s;
$gap-m: v.$size-layout-gap-m;
$gap-x: v.$size-layout-gap-x;
$gap-xl: v.$size-layout-gap-xl;
$gap-xxl: v.$size-layout-gap-xxl;
$gap-xxxl: v.$size-layout-gap-xxxl;
