@use './tokens/variables' as v;

$p-s: v.$size-layout-padding-s;
$p-m: v.$size-layout-padding-m;
$p-x: v.$size-layout-padding-x;
$p-xxl: v.$size-layout-padding-xxl;
$p-xxxl: v.$size-layout-padding-xxxl;
