@use './tokens/variables' as v;

$p-s: v.$size-layout-padding-s;
$p-m: v.$size-layout-padding-m;
$p-x: v.$size-layout-padding-x;
$p-2xl: v.$size-layout-padding-2xl;
$p-3xl: v.$size-layout-padding-3xl;
