@use 'tokens/variables' as v;
// Font families names
$font-family-base: 'Inter';
$font-family-logo: 'Bakbak One';
// Font weights
$fw-thin: v.$typography-font-weight-thin;
$fw-extra-light: v.$typography-font-weight-extra-light;
$fw-light: v.$typography-font-weight-light;
$fw-regular: v.$typography-font-weight-regular;
$fw-medium: v.$typography-font-weight-medium;
$fw-semi-bold: v.$typography-font-weight-semi-bold;
$fw-bold: v.$typography-font-weight-bold;
$fw-extra-bold: v.$typography-font-weight-extra-bold;
$fw-black: v.$typography-font-weight-black;

$font-weights: (
  'thin': v.$typography-font-weight-thin,
  'extra-light': v.$typography-font-weight-extra-light,
  'light': v.$typography-font-weight-light,
  'regular': v.$typography-font-weight-regular,
  'medium': v.$typography-font-weight-medium,
  'semi-bold': v.$typography-font-weight-semi-bold,
  'bold': v.$typography-font-weight-bold,
  'extra-bold': v.$typography-font-weight-extra-bold,
  'black': v.$typography-font-weight-black
);
// Font sizes
// Desktop
$fs-s: v.$semantic-size-12;
$fs-m: v.$semantic-size-14;
$fs-xl: v.$semantic-size-16;
$fs-xxl: v.$semantic-size-18;
// Mobile
// Font line-heights
$flh-s: v.$semantic-size-14;
$flh-m: v.$semantic-size-18;
$flh-xl: v.$semantic-size-20;
$flh-xxl: v.$semantic-size-24;


$font-sizes: (
  'xxl': (
    'size': $fs-xxl,
    'line-height': $flh-xxl
  ),
  'xl': (
    'size': $fs-xl,
    'line-height': $flh-xl
  ),
  'm': (
    'size': $fs-m,
    'line-height': $flh-m
  ),
  's': (
    'size': $fs-s,
    'line-height': $flh-s
  )
);

// =============================================================================
// FONT FACE DECLARATIONS
// =============================================================================
@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-Thin.woff2') format('woff2');
  font-weight: $fw-thin;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-ExtraLight.woff2') format('woff2');
  font-weight: $fw-extra-light;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-Light.woff2') format('woff2');
  font-weight: $fw-light;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: $fw-regular;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-Medium.woff2') format('woff2');
  font-weight: $fw-medium;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-SemiBold.woff2') format('woff2');
  font-weight: $fw-semi-bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-Bold.woff2') format('woff2');
  font-weight: $fw-bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-ExtraBold.woff2') format('woff2');
  font-weight: $fw-extra-bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-Black.woff2') format('woff2');
  font-weight: $fw-black;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bakbak One';
  src: url('/assets/fonts/BakbakOne-Regular.ttf') format('truetype');
  font-weight: $fw-regular;
}

$font-primary: v.$typography-font-family-base, sans-serif;

.header1 {
  font-family: $font-primary;
  font-size: v.$typography-font-size-h1;
  line-height: v.$typography-line-height-h1;
  font-weight: $fw-semi-bold;
}

.header2 {
  font-family: $font-primary;
  font-size: v.$typography-font-size-h2;
  line-height: v.$typography-line-height-h2;
  font-weight: $fw-semi-bold;
}

.header3 {
  font-family: $font-primary;
  font-size: v.$typography-font-size-h3;
  line-height: v.$typography-line-height-h3;
  font-weight: $fw-semi-bold;
}

.header4 {
  font-family: $font-primary;
  font-size: v.$typography-font-size-h4;
  line-height: v.$typography-line-height-h4;
  font-weight: $fw-semi-bold;
}

.header1, .header2, .header3, .header4 {
  margin: 0;
  padding: 0;
}

@mixin body-style($weight-name, $size-name) {
  $weight-value: map-get($font-weights, $weight-name);
  $size-props: map-get($font-sizes, $size-name);
  font-family: $font-primary;
  font-weight: $weight-value;
  font-size: map-get($size-props, 'size');
  line-height: map-get($size-props, 'line-height');
}


h1 {
  @extend .header1;
}

h2 {
  @extend .header2;
}

h3 {
  @extend .header3;
}

h4 {
  @extend .header4;
}


p {
  @include body-style('regular', 'xxl');
  margin: 0;
  padding: 0;
}

// s, m, xl, xxl
@each $name, $properties in $font-sizes {
  .font-#{$name} {
    font-size: map-get($properties, 'size');
    line-height: map-get($properties, 'line-height');
    margin: 0;
    padding: 0;
  }
}

// regualr, light, ...
@each $name, $weight in $font-weights {
  .font-#{$name} {
    font-weight: $weight;
  }
}

.logo {
  font-family: v.$typography-font-family-logo;
  color: v.$primary-success-500;
  margin: 0;
  padding: 0;
}

.logo.small {
  font-size: v.$typography-font-size-logo-small;
}

.logo.standard {
  font-size: v.$typography-font-size-logo-standard;
}


