@use 'typography' as typ;
@use 'tokens/variables' as v;
@forward "typography";
@forward "paddings";
@forward "heights";
@forward "border-radius";
@forward "colors";
@forward "typography";
@forward "borders";
@forward "gap";


body {
  padding-top: v.$size-height-nav-desktop
}

* {
  box-sizing: border-box;
}




