@use 'theme' as t;

.buttons-container {
  display: grid;
  padding-top: t.$p-x;
  grid-template-columns: repeat(4, 0.2fr);
  gap: t.$gap-xl;
}

.button-container {
  display: flex;
  flex-direction: column;
}
