@use 'theme' as t;

.section-block {
  display: flex;
  flex-direction: column;
  gap: t.$gap-s;
}

.page-container {
  display: flex;
  flex-direction: column;
  gap: t.$gap-4xl;
  padding: 0 t.$p-2xl
}
