@use 'theme' as t;

.navigation-btns-container {
  display: flex;
  flex-direction: row;
  border: t.$bw-thin solid t.get-color('primary', 800);
  border-radius: t.$b-r-soft;
  gap: t.$gap-xl;
  padding: t.$p-2xl t.$p-3xl;
}
